:root{
    --base-color: #fff;
    --dark-green: #00868A;
    --light-green: #4FBFA5;
    --size-cont: 1295px;
    --Gilroy : Gilroy;
}
body{
    margin: 0px;
}
a{
    text-decoration: none;
    color: #000000;
}
.header{
    display: flex;
    justify-content: center;
    background-color: var(--base-color);
    color: rgb(0, 0, 0);;
    font-family: var(--Gilroy);
}
.header__section{
    display: flex;
    align-items: center;
    height: 90px;
    padding-right: 24px ;
    white-space: nowrap;
}
.header__item{
    padding: 5px;
    margin-left: 46px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    
}
.header__item a{
    display: inline-flex;
    align-items: center;
}
.txt{
    padding-right: 5px;
}
.logo{
    padding-left: 0px;
}
.eyes{
    background: var(--dark-green);
    padding: 10px;
    font-size: 14px;
}
.eyes a{
    color: var(--base-color);
}
.eyes img{
    height: 13px;
    padding-right: 5px;
    height: 16px;
}
.social img{
    height: 14px;
}



.container__background{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: #4FBFA5;
}
.container__section{
    margin-left: auto;
    margin-right: auto;
    width: var(--size-cont);
}
.header__container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header__container__item{
    display: inline;
    padding-right: 55px;
    color: var(--base-color);
    font-size: 18px;
}
.left__item{
    margin-right: 15px;
    background-color: var(--base-color);
    color: #000;
    padding: 10px;
}
.container__info{
    display: flex;
}
.info__text{
    width: 550px;
    margin: 0px;
}
.info__image{
    width: 746px;
    height: 533px;
    padding: 0px;
    max-width: 100%;
}
.upper__text{
    color: var(--base-color);
    font-size: 48px;
    margin-top: 146px;
    margin-bottom: 20px;
}
.lower__case{
    width: 416px;
    height: 84px;
    color: var(--base-color);
    font-size: 15px;
}
.about{
    margin-top: 40px;
    background: #00868A;
    padding: 10px;
    width: 95px;
}
.about a{
    color: var(--base-color);
    font-family: var(--Gilroy);
}
.arrows{
    margin-left: 371px;
    margin-top: 40px;
    width: 119px;
    height: 50px;
}
.lower__header{
    display: flex;
    background-color: rgb(0, 157, 255);
    align-items: center;
    font-size: 21px;
}
.lower__header a{
    color: var(--base-color);
}
.one{
    width: 648px;
    text-align: center;
    background-color: var(--dark-green);
    padding: 27px;
}
.two{
    width: 295px;
    text-align: center;
    background-color: var(--light-green);
    padding: 27px;
}
.three{
    width: 295px;
    text-align: center;
    background-color: var(--dark-green);
    padding: 27px;
}



.container__course{
    width: var(--size-cont);
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
.new__course{
    display: flex;
    justify-content: space-between;
    height: 580px;
}
.course__section{
    width: 526px;
    height: 580px;
    background-color: var(--dark-green);
}
.course__items{
    height: 315px;
    margin-left: 40px;
    margin-top: 35px;
}
.innovations{
    padding-top: 10px;
}
.innovations a{
    background-color: var(--light-green);
    padding: 10px;
    color: var(--base-color);
}
.info__course{
    color: var(--base-color);
    font-family: var(--Gilroy);
    font-size: 30px;
    line-height: 150%;
    margin-top: 40px;
}
.about{
    display: flex;
    height: 40px;
    align-items: center;
    color: var(--base-color);
}
.about a {
    padding: 0px;
    padding-right: 20px;
}

.patent{
    margin-left: 134px;
    width: 635px;
}
.lower__patent{
    display: flex;
    justify-content: space-between;
}
.beauti{
    margin-top: 35px;
    margin-bottom: 30px;
    padding: 10px;
    padding-bottom: 10px;
    background-color: var(--light-green);
    text-align: center;
    color: var(--base-color);
    width: 186px;
    font-size: 18px;
}
.left__item__patent ul{
    padding-left: 0px;
}
.left__item__patent li {
    list-style-type: none;
    color: #ccc;
    display: flex;
    padding-bottom: 45px;
    align-items: center;
}
.number{
    font-size: 48px;
    height: 72px;
}
.text_beauti{
    font-size: 13px;
    width: 144px;
    height: 43px;
    padding-left: 20px;
}
.patent__image{
    margin-top: 0px;
    height: 400px;
    margin: 0px;
}

@media (max-width: 450px){
    body {
        zoom: 50%;
    }
    .container {
        margin: auto;
    }
    .header{
        padding-left: 630px;
    }
    .container__background{
        margin: auto;
        position: relative;
        background: #4FBFA5;
        width: 1496px;
    }
    .container__course{
        margin: 80px 100px;
    }
}